.DS_Store
.bundle
.jekyll-cache
.sass-cache
Gemfile.lock
_site
*.gem
.vs
/.vs/matthewDDennis.github.io/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/matthewDDennis.github.io/CopilotIndices/0.2.1980.20739/CodeChunks.db-shm
/.vs/matthewDDennis.github.io/CopilotIndices/0.2.1980.20739/CodeChunks.db-wal
/.vs/matthewDDennis.github.io/CopilotIndices/0.2.1980.20739/SemanticSymbols.db-shm
/.vs/matthewDDennis.github.io/CopilotIndices/0.2.1980.20739/SemanticSymbols.db-wal
/.vs/matthewDDennis.github.io/CopilotIndices/0.2.1980.20739/CodeChunks.db
