.DS_Store
.bundle
.jekyll-cache
.sass-cache
Gemfile.lock
_site
*.gem
/.vs/matthewDDennis.github.io/FileContentIndex/67575204-8295-4159-9987-cb015b7f8040.vsidx
/.vs/matthewDDennis.github.io/FileContentIndex/f5c43d00-d7e3-4399-86ff-a4c8d7c190a5.vsidx
